body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
#phone{
  width: 100vw;
  height: 100vh;  
  background-image: url("phone.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center;
  
  
}
#phoneHeading{
    font-size: 350%;
}
.description{
    font-size:190%;
    width:60%;
}
#preorder{
    border:1px solid black;
    border-radius: 15px;
    transition: all .2s ease-in-out;
    width:100px;
}
#preorder:hover{
    background-color:black;
    color:white;
}
